* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav_rojo {
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 121px;
  color: rgb(247, 246, 246);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_rojo .nav_izq {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav_rojo img {
  width: 100px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}
.nav_rojo h2 {
  color: rgb(247, 246, 246);
  text-shadow: 0 0 7px white;
  padding-bottom: 13px;
}
.nav_rojo .fa-solid {
  display: none;
}
.nav_rojo ul {
  display: flex;
  justify-content: end;
}
.nav_rojo li {
  margin: 14px;
  list-style: none;
  padding: 6px;
  border-radius: 3px;
}
.nav_rojo li:hover {
  background-color: rgb(245, 98, 98);
}

header .slider {
  overflow: hidden;
}
header .slider ul {
  -webkit-animation: cambio 26s infinite alternate linear;
          animation: cambio 26s infinite alternate linear;
  display: flex;
  width: 400%;
}
header .slider ul li {
  list-style: none;
  width: 100%;
  height: 500px;
}
header .slider ul img {
  width: 100%;
  height: 500px;
}
header .nav_naranja {
  width: 100%;
  height: 44px;
  background-color: hsl(39deg, 86%, 58%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

header .nav_naranja .segundas_dos{
  display: flex;
  justify-content: space-between;
}

header .nav_naranja .etiquetas_nav_naranja {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
}
header .nav_naranja .centro_nav_naranja {
  display: flex;
  margin-top: 6px;
  margin-right: 20px;
  align-items: center;
}
header .nav_naranja .der_nav_naranja {
  display: flex;
  margin-top: 6px;
  align-items: center;
  margin-right: 40px;
}
header .nav_naranja h6 {
  font-size: 15px;
}
header .nav_naranja h5 {
  font-size: 15px;
  margin-right: 15px;
  margin-top: 6px;
  color: rgb(17, 17, 17);
  border-right: solid 1px red;
  padding-right: 25px;
}
header .nav_naranja h5:hover {
  background-color: hsl(39deg, 77%, 68%);
}
header .nav_naranja .img_nav {
  height: 25px;
  margin-right: 15px;
}
@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  80% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  80% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

main h2 {
  font-size: 40px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.main {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  align-items: center;
  flex-wrap: wrap;
}
.main .contenedor_main {
  height: 525px;
  width: 350px;
  /*-webkit-perspective: 700;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .contenedor_main .tarjeta_main {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
  display: flex;
  flex-direction: column;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 5px rgb(122, 120, 120);
  border-radius: 10px;
}
.main .contenedor_main .tarjeta_main:hover {
  transform: rotateY(180deg);
}
.main .contenedor_main .lado {
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}
.main .contenedor_main .frente img {
  width: 250px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .contenedor_main .frente .calificacion {
  width: 135px;
}
.main .contenedor_main .frente h4 {
  margin-top: 20px;
  font-size: 25px;
}
.main .contenedor_main .frente .h3 {
  color: rgb(15, 15, 15);
  font-weight: bold;
  padding-top: 23px;
  font-size: 32px;
}
.main .contenedor_main .frente .bloque_clasificacion {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  align-content: center;
}
.main .contenedor_main .frente .bloque_clasificacion p {
  font-size: 14px;
  padding-left: 13px;
  padding-right: 13px;
}
.main .contenedor_main .frente .bloque_clasificacion a {
  color: blue;
}
.main .contenedor_main .atras {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .contenedor_main .atras img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.main .btn {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  margin: 20px;
}
.main .btn:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
.main .btn:active {
  position: relative;
  top: 1px;
}

footer {
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
footer .izq_footer {
  padding-left: 20px;
}
footer .img_footer {
  width: 180px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}
footer .parrafos_footer {
  width: 30%;
  text-align: center;
}
footer .parrafo_footer {
  color: aliceblue;
  padding-top: 23px;
}
footer .redes {
  margin: 30px;
}
footer .logo_red {
  width: 48px;
  height: auto;
  margin: 10px;
}
footer .logo_red:hover {
  transform: scale(1.3);
}

@media (max-width: 1280px) {
  .redes {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
  }
  .redes .img_footer {
    padding-left: 25px;
  }
}
aside {
  width: 700px;
  height: auto;
  background-color: rgb(158, 156, 155);
}

section .contenido_noticias {
  padding-top: 30px;
}
section .contenido_noticias h2 {
  font-size: 40px;
  padding-left: 50px;
  margin-bottom: 50px;
}
section .contenido_noticias .section {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
}
section .contenido_noticias .section .jordan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
section .contenido_noticias .section .jordan .contenedor_jordan {
  width: 100%;
  position: relative;
}
section .contenido_noticias .section .jordan .contenedor_jordan .img_jordan {
  width: 65%;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-left: 200px;
  box-shadow: 0 0 5px rgb(122, 120, 120);
}
section .contenido_noticias .section .jordan .zocalo_jordan {
  position: absolute;
  color: rgb(194, 18, 18);
  left: 50%;
  top: 50%;
}
section .contenido_noticias .noticias {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
section .contenido_noticias .noticias .tarjeta_noticia {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
section .contenido_noticias .noticias .tarjeta_noticia .img_noticia {
  width: 200px;
  border-radius: 7px;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0 0 5px rgb(122, 120, 120);
}
section .contenido_noticias .noticias .tarjeta_noticia .img_noticia:hover {
  transform: scale(1.12);
}
section .contenido_noticias .noticias .tarjeta_noticia p {
  font-size: 12px;
  text-align: center;
}

.jordan_gris {
  margin-bottom: 75px;
}

section .contenedor_contacto {
  background-image: url("../img/fondocontacto.jpg");
  width: 100%;
  height: 640px;
  padding-top: 69px;
  margin-top: 80px;
}
section .contenedor_contacto form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 8px;
}
section .contenedor_contacto form .h2 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
section .contenedor_contacto form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
}
section .contenedor_contacto form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
  min-height: 150px;
  max-height: 300px;
  max-width: 100%;
}
section .contenedor_contacto form button {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
section .contenedor_contacto form button:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
section .contenedor_contacto form button:active {
  position: relative;
  top: 1px;
}

section {
  overflow: hidden;
}
section .contenedor_escudos {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: cambio_esc 350s infinite alternate linear;
          animation: cambio_esc 350s infinite alternate linear;
  margin-bottom: 100px;
}
section .contenedor_escudos .grupo_1 {
  display: flex;
}
section .contenedor_escudos .grupo_1 .img_escudo {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
section .contenedor_escudos .grupo_2 {
  display: flex;
}
section .contenedor_escudos .grupo_2 .img_escudo {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
section .contenedor_escudos .grupo_3 {
  display: flex;
}
section .contenedor_escudos .grupo_3 .img_escudo {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
section .contenedor_escudos .grupo_4 {
  display: flex;
}
section .contenedor_escudos .grupo_4 .img_escudo {
  display: flex;
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
@-webkit-keyframes cambio_esc {
  0% {
    margin-left: 0;
  }
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes cambio_esc {
  0% {
    margin-left: 0;
  }
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.seccion_dorada {
  background-color: rgb(255, 254, 242);
  background-image: url "../img/fondo_dorado.jpg";
  padding-top: 20px;
  height: 750px;
}
.seccion_dorada .contenido_dorado {
  padding-top: 25px;
}
.seccion_dorada .contenido_dorado h2 {
  color: black;
  text-shadow: 7px 7px 35px yellow;
  margin-bottom: 50px;
  padding-left: 30px;
  font-size: 40px;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas {
  height: 525px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas .tarjeta_dorada {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 3px 3px 10px rgb(250, 205, 4);
  border-radius: 10px;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas .tarjeta_dorada h4 {
  margin-top: 20px;
  font-size: 25px;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas .tarjeta_dorada img {
  width: 220px;
  margin-bottom: 25px;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas .tarjeta_dorada .calificacion {
  width: 135px;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas .tarjeta_dorada .bloque_clasificacion {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  align-content: center;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas .tarjeta_dorada .bloque_clasificacion p {
  font-size: 14px;
  padding-left: 13px;
  padding-right: 13px;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas .tarjeta_dorada .bloque_clasificacion a {
  color: blue;
}
.seccion_dorada .contenido_dorado .contenedor_principal_dorado .tarjetas_doradas .tarjeta_dorada .h3 {
  color: black;
  text-shadow: 7px 7px 15px yellow;
  font-weight: bold;
  padding-top: 23px;
  font-size: 32px;
}

.boton_dorado {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background-color: #f5df54;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #363434;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  margin-top: 30px;
}

.boton_dorado:hover {
  background-color: #ecf006;
}

.boton_dorado:active {
  position: relative;
  top: 1px;
}


@media (max-width: 1000px){
  .nav_rojo .fa-solid {
    display: block;
    padding-right: 6%;
    font-size: 44px;
  } 

  .nav_rojo .fa-solid:hover + ul{
     right: 0; 
  }
  

  .nav_rojo ul{
    background-color: rgba(247, 5, 5, 0.75);
    position: fixed;
    top: 30px;
    right: -300px;
    display: flex;
    flex-direction: column;
    padding: 65px;
    border-radius: 3px;
    padding-bottom: 25px;
    transition: 1.5s;
  }
  .nav_rojo .fa-solid:hover + ul{
    right: 0; 
 }
 
 .nav_rojo ul:hover{
   right: 0;
 } 

 header .nav_naranja {
    height: 100px;
    font-size: 10px;
 }

 header .nav_naranja .segundas_dos{
  display: flex;
  flex-direction: column;
 }
  
}




