* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav_rojo {
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 105px;
  color: rgb(247, 246, 246);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_rojo .nav_izq {
  margin-left: 25px;
}
.nav_rojo img {
  width: 100px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}
.nav_rojo h2 {
  color: rgb(247, 246, 246);
  text-shadow: 0 0 7px white;
  padding-bottom: 13px;
}
.nav_rojo ul {
  display: flex;
  justify-content: end;
}
.nav_rojo li {
  margin: 14px;
  list-style: none;
  padding: 6px;
  border-radius: 3px;
}
.nav_rojo li:hover {
  background-color: rgb(245, 98, 98);
}

header .slider {
  overflow: hidden;
}
header .slider ul {
  -webkit-animation: cambio 26s infinite alternate linear;
          animation: cambio 26s infinite alternate linear;
  display: flex;
  width: 400%;
}
header .slider ul li {
  list-style: none;
  width: 100%;
  height: 500px;
}
header .slider ul img {
  width: 100%;
  height: 500px;
}
header .nav_naranja {
  width: 100%;
  height: 44px;
  background-color: hsl(39deg, 86%, 58%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16%;
  margin: 0;
}
header .nav_naranja .etiquetas_nav_naranja {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
header .nav_naranja .centro_nav_naranja {
  display: flex;
  margin-top: 6px;
  align-items: center;
  margin-right: 170px;
}
header .nav_naranja .der_nav_naranja {
  display: flex;
  margin-top: 6px;
  align-items: center;
  margin-right: 40px;
}
header .nav_naranja h6 {
  font-size: 15px;
}
header .nav_naranja h5 {
  font-size: 15px;
  margin-right: 15px;
  margin-top: 6px;
  color: rgb(17, 17, 17);
  border-right: solid 1px red;
  padding-right: 25px;
}
header .nav_naranja h5:hover {
  background-color: hsl(39deg, 77%, 68%);
}
header .nav_naranja .img_nav {
  height: 25px;
  margin-right: 15px;
}
@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  80% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  80% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

main h2 {
  font-size: 40px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: red;
}

.main {
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  align-items: center;
  flex-wrap: wrap;
}
.main .contenedor_main {
  height: 465px;
  width: 350px;
  /*-webkit-perspective: 700;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .contenedor_main .tarjeta_main {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
  display: flex;
  flex-direction: column;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 5px rgb(122, 120, 120);
  border-radius: 10px;
}
.main .contenedor_main .tarjeta_main:hover {
  transform: rotateY(180deg);
}
.main .contenedor_main .lado {
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}
.main .contenedor_main .frente img {
  width: 250px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .contenedor_main .frente .calificacion {
  width: 135px;
}
.main .contenedor_main .frente h4 {
  margin-top: 20px;
  font-size: 25px;
}
.main .contenedor_main .frente .h3 {
  color: rgb(15, 15, 15);
  font-weight: bold;
  padding-top: 23px;
  font-size: 32px;
}
.main .contenedor_main .frente .bloque_clasificacion {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  align-content: center;
}
.main .contenedor_main .frente .bloque_clasificacion p {
  font-size: 14px;
  padding-left: 13px;
  padding-right: 13px;
}
.main .contenedor_main .frente .bloque_clasificacion a {
  color: blue;
}
.main .contenedor_main .atras {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .contenedor_main .atras img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.main .btn {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.main .btn:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
.main .btn:active {
  position: relative;
  top: 1px;
}

footer {
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
footer .izq_footer {
  padding-left: 20px;
}
footer .img_footer {
  width: 180px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}
footer .parrafos_footer {
  width: 30%;
  text-align: center;
}
footer .parrafo_footer {
  color: aliceblue;
  padding-top: 23px;
}
footer .redes {
  margin: 30px;
}
footer .logo_red {
  width: 48px;
  height: auto;
  margin: 10px;
}
footer .logo_red:hover {
  transform: scale(1.3);
}

@media (max-width: 1280px) {
  .redes {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
  }
  .redes .img_footer {
    padding-left: 25px;
  }
}
aside {
  width: 700px;
  height: auto;
  background-color: rgb(158, 156, 155);
}

section h2 {
  font-size: 40px;
  padding-left: 50px;
  margin-bottom: 100px;
  margin-top: 40px;
}
section .section {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
  align-items: center;
}
section .section .jordan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
section .section .jordan .contenedor_jordan {
  width: 100%;
  position: relative;
}
section .section .jordan .contenedor_jordan .img_jordan {
  width: 65%;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-left: 200px;
  box-shadow: 0 0 5px rgb(122, 120, 120);
}
section .section .jordan .zocalo_jordan {
  position: absolute;
  color: rgb(194, 18, 18);
  left: 50%;
  top: 50%;
}
section .noticias {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
section .noticias .tarjeta_noticia {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
section .noticias .tarjeta_noticia .img_noticia {
  width: 200px;
  border-radius: 7px;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0 0 5px rgb(122, 120, 120);
}
section .noticias .tarjeta_noticia .img_noticia:hover {
  transform: scale(1.12);
}
section .noticias .tarjeta_noticia p {
  font-size: 12px;
  text-align: center;
}

.jordan_gris {
  margin-bottom: 100px;
}

section .contenedor_contacto {
  background-image: url("../img/fondocontacto.jpg");
  width: 100%;
  height: 640px;
  padding-top: 30px;
}
section .contenedor_contacto form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 8px;
}
section .contenedor_contacto form .h2 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
section .contenedor_contacto form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
}
section .contenedor_contacto form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
  min-height: 150px;
  max-height: 300px;
  max-width: 100%;
}
section .contenedor_contacto form button {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
section .contenedor_contacto form button:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}
section .contenedor_contacto form button:active {
  position: relative;
  top: 1px;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
section {
  overflow: hidden;
}
section .contenedor_escudos {
  display: flex;
  align-items: center;
  -webkit-animation: cambio_esc 350s infinite alternate linear;
          animation: cambio_esc 350s infinite alternate linear;
}
section .contenedor_escudos .grupo_1 {
  display: flex;
}
section .contenedor_escudos .grupo_1 .img_escudo {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
section .contenedor_escudos .grupo_2 {
  display: flex;
}
section .contenedor_escudos .grupo_2 .img_escudo {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
section .contenedor_escudos .grupo_3 {
  display: flex;
}
section .contenedor_escudos .grupo_3 .img_escudo {
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
section .contenedor_escudos .grupo_4 {
  display: flex;
}
section .contenedor_escudos .grupo_4 .img_escudo {
  display: flex;
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
@-webkit-keyframes cambio_esc {
  0% {
    margin-left: 0;
  }
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes cambio_esc {
  0% {
    margin-left: 0;
  }
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}