header{
    .slider{
        overflow: hidden;
        
        ul{
          animation: cambio 26s infinite alternate linear;
          display: flex;
          width: 400%;

          li{
              list-style: none;
              width: 100%;
              height: 500px;
          }
          img {
              width: 100%;
              height: 500px;
              
              }
          }
      }
      
      
.nav_naranja{
    width: 100%;
    height: 44px;
    background-color: hsl(39, 86%, 58%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16%;
    margin: 0;
    
    
    .etiquetas_nav_naranja{
        display: flex;
        align-items: center;
        margin-left: 40px;



    }
    .centro_nav_naranja {
        display: flex;
        margin-top: 6px;
        align-items: center;
        margin-right: 170px;
        
    }

    .der_nav_naranja{
        display: flex;
        margin-top: 6px;
        align-items: center;
        margin-right: 40px;
        
        
    }
    h6{
        font-size: 15px;
    }
    h5 {
        font-size: 15px;
        margin-right: 15px;
        margin-top: 6px;
        color: rgb(17, 17, 17);
        border-right: solid 1px red;
        padding-right: 25px;
        &:hover{
            background-color: hsl(39, 77%, 68%) ;
        }
        
    }

    .img_nav{
        height: 25px;
        margin-right: 15px;
    }

  @keyframes cambio {
      0%{margin-left: 0;}
      20%{margin-left: 0;}

      30%{margin-left: -100%;}
      50%{margin-left: -100%;}

      60%{margin-left: -200%;}
      70%{margin-left: -200%;}

      80%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }

}}