

.nav_naranja{
        width: 100%;
        height: 39px;
        background-color: rgb(245, 177, 52);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16%;

      
        
        }
        .etiquetas_nav_naranja{
            display: flex;
            align-items: center;
            padding-left: 20px;

         
        }
        .centro_nav_naranja {
            display: flex;
            margin-top: 6px;
            align-items: center;
            

        }

        .der_nav_naranja{
            display: flex;
            margin-top: 6px;
            align-items: center;

            
        }

        h5 {
            font-size: 15px;
            margin-right: 15px;
        
            margin-top: 6px;
            color: rgb(17, 17, 17);
            border-right: solid 1px red;
            padding-right: 25px;
            
        }

        .img_nav{
            height: 25px;
            margin-right: 15px;
        }
    


.nav_rojo {
    background-color:$colorPrincipal;
    width: 100%;
    height: 105px;
    color: rgb(247, 246, 246);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

 
    
    .nav_izq {
        margin-left: 25px;
    }

    img {
        width: 100px;
        height: auto;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    h2 {
        color: rgb(247, 246, 246);
        text-shadow: 0 0 7px white;
    }
    
    ul {
        display: flex;
        justify-content: end;
    }
        
    li {
        margin: 14px;
        list-style: none;
        padding: 6px;
        border-radius: 3px;
        &:hover {
            background-color: rgb(250, 191, 191);
            
            
        }
    }
   
}