section{
    .contenido_noticias{
        padding-top: 30px;
    h2{
        font-size: 40px;
        padding-left: 50px;
        margin-bottom: 50px;
        

    }


.section {
    display: flex;
    flex-direction: row;
    margin-top: 50px;      
    align-items: center;           
    
    .jordan {
        display: flex;
        flex-direction: column;    
        align-items: center;  
        width: 50%;

        .contenedor_jordan{
            width: 100%;
            position: relative; 

            .img_jordan {
                width: 65%;
                border-radius: 5px;
                margin-bottom: 60px;
                margin-left: 200px;
                box-shadow: 0 0 5px rgb(122, 120, 120);
            }
        }
        
        .zocalo_jordan{
                position: absolute;
                color: rgb(194, 18, 18);  
                left: 50%;
                top: 50%;          
        }
    }    
}
        
        
        
    

    .noticias{
        width: 50%;
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        gap: 12px;
        
        .tarjeta_noticia {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        
        
            .img_noticia {
                width: 200px;
                border-radius: 7px;
                justify-content: space-around;
                flex-wrap: wrap;
                box-shadow: 0 0 5px rgb(122, 120, 120);
                &:hover{
                    transform: scale(1.12);
                }}
                
            p{
            font-size: 12px;
            text-align: center;
            
                }
            }       
        }
    }
}